<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/62f2d0fb-d4ac-4ec8-86b5-ff053291cda2/resourceGroups/twa-resourcegroup/providers/Microsoft.Web/sites/twa-app</ResourceId>
    <ResourceGroup>twa-resourcegroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://twa-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6b5998bd-f3fc-452a-929c-8b8d3cc25251</ProjectGuid>
    <PublishUrl>https://twa-app.scm.azurewebsites.net/</PublishUrl>
    <UserName>$twa-app</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>