@page "/"

<PageTitle>Index</PageTitle>

<section class="section">
    <h1 class="title">Hello, world!</h1>
    <h2 class="subtitle">Welcome to your new app.</h2>
    <SurveyPrompt Title="How is Blazor working for you?" />
</section>